<div class="row border-strong-gray padding-0 total-container">
    <div class="col-md-4 col-sm-4 col-4 padding-0 square">
        <div class="col-md-12 border-strong-bottom-gray total-label table-div">
            <div class="cell-centered text-center">{{totalCounterCtrl.totalLeftSatellite}}</div>
        </div>
        <div class="col-md-12 bg-lightgray table-div">
            <div class="cell-centered text-center">{{'leftLbl' | translate}}</div>
        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-4 border-strong-left-gray ">
        <div class="v-centered margin-0 total-label text-center">
            <div class="name">1</div>
            <div class="label">Main</div>
        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-4 border-strong-left-gray padding-0 square">
        <div class="col-md-12 border-strong-bottom-gray total-label table-div">
            <div class="cell-centered text-center">{{totalCounterCtrl.totalRightSatellite}}</div>
        </div>
        <div class="col-md-12 bg-lightgray table-div">
            <div class="cell-centered text-center">{{'rightLbl' | translate}}</div>
        </div>
    </div>
</div>