<div class="col-md-12 row">
    <div class="col-md-11 col-sm-11 col-11 final-condition-div my-auto" ng-if="finalConditionCtrl.isFailureRule();">
        <label class="col-md-12 col-sm-12 col-12 content">{{'successMessageLbl' | translate}}</label>
    </div>
    <div class="col-md-11 col-sm-11 col-11 final-condition-div my-auto" ng-if="!finalConditionCtrl.isFailureRule();">
        <label class="col-md-12 col-sm-12 col-12 content">{{'failedMessageLbl' | translate}}</label>
    </div>
    <div class="col-md-1 col-sm-1 col-1 final-condition-div my-auto">
        <i ng-if="finalConditionCtrl.isFailureRule();" class="fa fa-check-circle-o check-icon" aria-hidden="true"></i>
        <i ng-if="!finalConditionCtrl.isFailureRule();" class="fa fa-times-circle check-icon" aria-hidden="true"></i>
    </div>
</div>